//Banner Section 
.#{$prefix}-banner-main-section{
    padding-bottom: 30px;
    .#{$prefix}-title{
        margin-top: 30px;
        margin-bottom: 0;
    }
    .#{$prefix}-post-list,
    .#{$prefix}-recent-post-list,
    .#{$prefix}-banner-article-slider{
        margin-top: 30px;
    }
    .#{$prefix}-banner-article-slider{
        .slick-dots{
            margin-top: 15px;
        }
    }
    .#{$prefix}-related-articles-list{
        .#{$prefix}-related-articles{
            margin-top: 20px;
        }
    } 
  
}

// Relted Article Slider
.#{$prefix}-related-articles-slider-section{
    padding: 30px 0;
    .#{$prefix}-title{
        margin-bottom: 15px;
        margin-left: 5px;
        color: $color_black;
    }
    .#{$prefix}-related-articles-slider{
        .#{$prefix}-related-articles{
            padding: 0 5px;
            position: relative;
            .data-bg-md{
               background-color: rgb(123,123,123);
            }
          
        }
        .slick-arrow{
            top: 27%;
            transform: translateY(0);
            background-color: $color_white;
            border-radius: 0;
            
            &:hover{
                &::before{
                    border-color: $color_primary;
                }
            }
    
        }
        .slick-prev{
            left: 5px;
          
        }
        .slick-next{
            right: 3px;
        }
        
    }
}
// Feature category
.#{$prefix}-featured-category-post-list{
    padding-bottom: $inner-section-gap;
    .#{$prefix}-recent-post-list,
    .#{$prefix}-title{
        margin-top: $inner-section-gap;
    }
  
}