/**
 * --------------------------------------------------------------------------------
 * Main Stylesheet
 * --------------------------------------------------------------------------------
*/
/**
 *
 * #.# General
 *
 */
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.9em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "Lato", "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1f1f1f;
  background: #ffffff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.2rem 0;
}
p {
  margin: 0 0 .8rem 0;
}
h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
}
h1 {
  font-weight: 900;
  font-size: 4.3rem;
  line-height: 1.35;
  display: inherit;
}
h2 {
  font-weight: 800;
  font-size: 2.3rem;
  line-height: 1.45;
  display: inherit;
}
h3 {
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 1.6;
  display: inherit;
}
h4 {
  font-weight: 700;
  font-size: 1.55rem;
  line-height: 1.7;
  display: inherit;
}
h5 {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.6;
  display: inherit;
}
h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  margin: 1.6em 0;
  display: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
a {
  text-decoration: none;
  color: #1e1e1e;
  transition: all .3s ease;
}
a,
a:hover {
  outline: 0;
  -webkit-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  transition: all 300ms ease;
}
a:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="submit"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
img {
  max-width: 100%;
  height: auto;
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vertical-align {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex !important;
  /** Overrides other display properties to make the contents align vertically **/

  align-items: center;
}
input[type="text"],
input[type="email"],
input[type="submit"] {
  outline: none;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  height: 3.84rem;
}
/**
 *
 * #.# Header
 *
 */
/* Header Container */
.site-header {
  background-color: #ffffff;
  top: 0;
  left: 0;
  padding: 1.5rem 0;
  width: 100%;
  z-index: 9;
  transition: .3s all ease;
}
.site-header .row {
  padding: 0;
}
.sticky-header .site-header {
  position: fixed;
  z-index: 99;
}
.stuck {
  z-index: 1;
  padding: 0;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
/**
 *
 * #.# blockquote design
 *
 */
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #80faff;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.prr-spacing-top {
  margin-top: 4.800000000000001rem;
}
.prr-spacing-bottom {
  margin-bottom: 4.800000000000001rem;
}
/*=========================
    04. NAVIGATION MENU
===========================*/
.site-branding {
  float: left;
  margin-right: 2.4000000000000004rem;
}
.site-branding .site-title {
  margin-bottom: 0;
}
.header-left {
  position: relative;
  z-index: 2;
}
.header-left .prr-iconset {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
nav {
  float: left;
  position: relative;
  z-index: 2;
}
nav a {
  font-size: 1.6rem;
  font-weight: 700;
}
.main-nav:before,
.main-nav:after {
  display: table;
  content: " ";
}
.main-nav:after {
  clear: both;
}
.main-nav ul {
  border-radius: 3px;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.main-nav li {
  list-style-type: none;
}
.main-nav > li {
  float: left;
}
.main-nav > li > a {
  color: #1e1e1e;
  display: block;
  padding: 2.4rem 1.6rem;
}
.main-nav > li a:hover {
  color: #00c4cc;
}
.main-nav > li a {
  color: #2b3948;
}
.main-nav .menu-item-has-children {
  position: relative;
}
.main-nav .menu-item-has-children .to-left {
  left: unset !important;
  right: 25%;
}
.main-nav .menu-item-has-children .sub-menu {
  padding-top: 0;
  padding-bottom: 0;
}
.main-nav .menu-item-has-children .sub-menu li {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0;
  position: relative;
}
.main-nav .menu-item-has-children .sub-menu li a {
  display: block;
}
.main-nav .menu-item-has-children .sub-menu li:last-child {
  border-bottom: 0;
}
.main-nav .menu-item-has-children ul {
  background-color: #ffffff;
  position: absolute;
  padding: 1.6rem 2.4rem;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.main-nav .menu-item-has-children:hover > ul,
.main-nav .menu-item-has-children:focus > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.main-nav .menu-item-has-children > a::after {
  content: "\ea67";
  padding-left: 1.6rem;
  font: normal normal normal 18px/1 IcoFont;
  position: absolute;
  right: -4px;
  top: 26px;
}
.main-nav .menu-item-has-children .menu-item-has-children .sub-menu {
  -webkit-transform: translate(140px, -25px);
  -ms-transform: translate(140px, -25px);
  transform: translate(140px, -25px);
}
.main-nav .menu-item-has-children .menu-item-has-children:hover > .sub-menu {
  -webkit-transform: translate(170px, -25px);
  -ms-transform: translate(170px, -25px);
  transform: translate(170px, -25px);
}
.main-nav .menu-item-has-children .menu-item-has-children > a::after {
  content: "\ea69";
  margin-top: 4px;
  top: unset;
  right: 0;
}
.main-nav .menu-item-has-children > ul.is-focused {
  opacity: 1;
  visibility: visible;
}
/* Mobile Navigation Menu */
.nav-menu {
  position: relative;
}
.mobile-menu-container {
  position: absolute;
  top: 0;
  right: 3.2rem;
}
.mobile-menu-container ul > li > a {
  color: #1e1e1e;
}
.mobile-menu-container ul > li > a:hover {
  color: #00c4cc;
}
.js-ct-menubar-right:focus {
  outline: 5px auto -webkit-focus-ring-color;
}
.menubar-right,
.menubar-close {
  cursor: pointer;
  position: absolute;
  font-size: 2.7rem;
  right: 0;
  top: 2.4rem;
  z-index: 2;
}
.menubar-close {
  right: 3.2rem;
}
.menubar-right {
  padding-right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropdown-toggle {
  cursor: pointer;
  font-size: 2.2rem;
  margin-top: .2rem;
  position: absolute;
  top: 1rem;
  right: 0;
  padding: 0 !important;
  line-height: 1;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}
.mobile-menu-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 9901;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}
.mobile-menu-active {
  opacity: 1;
  visibility: visible;
}
.nav-parent {
  background-color: #fff;
  border-left: 1px solid #e3e3e3;
  padding: 4rem;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 30rem;
  width: 100%;
  visibility: hidden;
  z-index: 9902;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s ease;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.mobile-menu-open {
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  visibility: visible;
}
.mobile-nav li {
  position: relative;
  list-style-type: none;
}
.mobile-nav > li {
  border-bottom: 1px solid #e3e3e3;
}
.mobile-nav > li:last-child {
  border-bottom: none;
}
.mobile-nav li a {
  padding: 1rem;
  display: block;
}
.mobile-nav li ul li ul a,
.mobile-nav li ul a {
  display: block;
}
.mobile-nav > li > ul {
  display: none;
  padding-left: 1.6rem;
}
.mobile-nav > li > ul > li > ul {
  display: none;
  padding-left: 1.6rem;
}
.toggled {
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/**
 * Search Icon
 */
.search-default {
  visibility: hidden;
}
.search-shown {
  animation-name: ctSlideUpIn;
  -webkit-animation-name: ctSlideUpIn;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}
@keyframes ctSlideUpIn {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes ctSlideUpIn {
  0% {
    -webkit-transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
.search-hidden {
  animation-name: ctSlideDownOut;
  -webkit-animation-name: ctSlideDownOut;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: hidden;
}
@keyframes ctSlideDownOut {
  0% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes ctSlideDownOut {
  0% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(20px);
    opacity: 0;
  }
}
.search-icon {
  margin-right: 5px;
}
.search-form {
  font-size: 1.6rem;
}
.search-submit {
  cursor: pointer;
}
.search-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: #f7f8f8;
  padding: 2rem;
  width: 32rem;
  height: auto;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.search-dropdown .header-search-form * {
  margin: 0;
}
.search-dropdown .header-search-form #search,
.search-dropdown .header-search-form .input-group-btn {
  display: block;
  float: left;
}
.search-dropdown .header-search-form #search {
  width: 80%;
}
.search-dropdown .header-search-form .input-group-btn {
  width: 20%;
}
.search-dropdown .header-search-form .prr-icon-close {
  position: absolute;
  top: 0;
  right: 7px;
  display: none;
}
.search-dropdown .header-search-form .js-shown {
  display: block;
}
.search-dropdown .prr-tab-focus {
  margin: 1rem;
}
/**
 *
 * #.# Media Queries
 *
 */
/* Larger than tablet */
@media (min-width: 991.99px) {
  .mobile-navigation,
  .menubar-right,
  .logo-container .search-icon {
    display: none !important;
  }
}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
  .main-nav,
  .nav-button,
  .header-navigation,
  .menu-wrapper .search-icon {
    display: none;
  }
  .search-icon {
    margin-right: 3.2rem;
  }
  /* mobile social nav */
  .desktop .prr-social {
    display: none;
  }
  .search-icon {
    padding-right: 20px;
  }
  .prr-social {
    text-align: center;
  }
}
.sticky-header {
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 9;
  background: #ffffff;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.nav-button {
  margin: 0 1.6rem;
}
@media screen and (max-width: 782px) {
  .admin-bar .mobile-menu-open {
    top: 46px;
  }
}
.prr-cat-tag {
  color: #ffffff;
  background: #00c4cc;
  display: inline-block;
  margin-bottom: 10px;
  padding: 1px 10px 2px;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: 0px 3px 12px rgba(0, 196, 204, 0.7);
}
.prr-cat-tag a {
  color: #ffffff;
}
.prr-featured-image img {
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 100%;
  box-shadow: 0px 3px 12px rgba(30, 30, 30, 0.7);
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.featured-single-image img {
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.adjusted-image {
  position: relative;
  height: 525px;
  overflow: hidden;
}
.adjusted-image img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.prr-post-meta {
  margin-bottom: 0.8rem;
}
.prr-post-meta * {
  font-size: 1.6rem;
}
.prr-spacing {
  margin-top: 1.92rem;
  margin-bottom: 8rem;
}
.prr-section {
  margin: 8rem 0;
}
.prr-category {
  color: #00c4cc;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.prr-iconset {
  display: inline-block;
  float: right;
}
.prr-iconset > * {
  float: left;
  font-size: 2.2399999999999998rem;
  cursor: pointer;
}
.prr-iconset .prr-useful {
  margin-left: 20px;
}
.featured-area {
  position: relative;
}
.featured-section .main-featured-image {
  position: relative;
  text-align: right;
}
.featured-section .main-featured-image img {
  max-width: 100%;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.featured-section .featured-title {
  position: absolute;
  top: 50%;
  left: -170px;
  transform: translateY(-50%);
  width: 350px;
  text-align: left;
  background: #ffffff;
  padding: 1.6rem;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.featured-section .featured-title .prr-post-meta {
  font-size: 12px;
  text-transform: uppercase;
}
.featured-section .featured-title .prr-post-meta .prr-author {
  font-weight: 600;
}
.featured-section .featured-title .prr-post-meta .prr-times-read {
  font-weight: 300;
}
@media (max-width: 767.98px) {
  .featured-section .featured-title {
    position: relative;
    left: 0;
    transform: translateY(-20%);
  }
}
.prr-excerpt-area * {
  margin-bottom: .5rem;
}
.prr-excerpt-area .animated-underline {
  display: table;
}
.prr-excerpt-area p {
  font-size: 15px;
}
.post-slide-hor-arrow,
.post-slide-hor-2-arrow {
  cursor: pointer;
  position: relative;
}
.post-slide-hor-arrow div,
.post-slide-hor-2-arrow div {
  display: inline-block;
  font-size: 30px;
  line-height: 1;
  color: #fff;
  background: #00c4cc;
  margin-right: 5px;
}
.post-slide-hor-arrow .prev,
.post-slide-hor-2-arrow .prev,
.post-slide-hor-arrow .next,
.post-slide-hor-2-arrow .next {
  position: absolute;
  right: -10px;
  z-index: 1;
}
.post-slide-hor-arrow .prev,
.post-slide-hor-2-arrow .prev {
  right: -43px;
}
.post-slide-hor-2-arrow {
  top: -39px;
}
.post-slide-hor-2-arrow .prev {
  right: 23px;
}
.prr-dot {
  color: #00c4cc;
}
.prr-section-intro,
.prr-post-excerpt,
.prr-massive-blog-excerpt,
.newsletter-area {
  margin-bottom: 3.2rem;
}
.prr-block-post-meta {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.prr-block-post-meta .prr-category {
  float: left;
}
.prr-block-post-meta .prr-times-read-area {
  float: right;
}
/** Anchor Link Style **/
.prr-title {
  display: inline;
  background-image: linear-gradient(180deg, transparent 65%, #80faff 0);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  line-height: 1.2;
  padding: 0 3px;
}
.animated-underline {
  background-image: linear-gradient(180deg, transparent 90%, #80faff 0);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease;
}
.animated-underline:hover {
  background-size: 100% 100%;
}
.post-content a {
  background-image: linear-gradient(180deg, transparent 70%, #80faff 0);
}
.prr-post-excerpt:hover .animated-underline,
.prr-massive-blog-excerpt:hover .animated-underline,
.prr-sbs-post-excerpt:hover .animated-underline,
.prr-excerpt-slide:hover .animated-underline {
  background-size: 100% 100%;
}
.prr-massive-blog-excerpt h2 {
  font-size: 2.8rem;
}
.prr-sbs-post-excerpt {
  margin-bottom: 1rem;
}
.prr-sbs-post-excerpt .content-left {
  width: 30%;
  float: left;
  max-width: 100%;
  max-height: 100%;
}
.prr-sbs-post-excerpt .content-right {
  width: 66%;
  float: right;
}
.prr-sbs-post-excerpt .prr-times-read-area {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.newsletter-area {
  text-align: center;
}
.newsletter-area .prr-newsletter-title {
  position: relative;
  display: inline-block;
}
.newsletter-area .prr-title {
  font-size: 3.2rem;
}
.newsletter-area .prr-title:after {
  content: "\ef13";
  font-family: IcoFont !important;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  position: absolute;
  color: #ececec;
  right: -30px;
  top: -30px;
  transform: rotate(35deg);
  z-index: -1;
}
.newsletter-area p {
  font-size: 2.08rem;
}
.newsletter-area .newsletter-form input[type="text"] {
  width: 60%;
  border: 1px solid #d3d3d3;
  margin-right: 3px;
  padding: 5px 10px;
}
.newsletter-area .newsletter-form input[type="submit"] {
  background-color: #00c4cc;
  color: #ffffff;
  font-weight: 600;
  width: 150px;
  margin-left: 3px;
  cursor: pointer;
  border: 1px solid #00c4cc;
  box-shadow: 0px 3px 12px rgba(0, 196, 204, 0.7);
}
footer ul li {
  list-style-type: none;
}
footer ul li:before {
  content: "\ea69";
  font-family: IcoFont !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
}
.prr-footer {
  border-top: 2px solid #00c4cc;
  padding-top: 4.800000000000001rem;
  padding-bottom: 3.2rem;
}
.load-more {
  display: none;
}
.custom-logo-dark {
  display: none;
}
.custom-logo-link img,
.custom-logo-dark img {
  max-height: 120px;
}
.admin-bar .site-header {
  top: 3.2rem;
}
@media screen and (max-width: 782px) {
  .admin-bar .site-header {
    top: 4.6rem;
  }
}
.prr-author-about {
  padding: 1.6rem;
  margin-top: 1.5rem;
  margin-bottom: 4.800000000000001rem;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.author-info .entry-author-label {
  color: #999;
  font-size: 1.4545454545454546rem;
  margin-bottom: 0;
  line-height: 1rem;
}
.author-info img {
  border-radius: 50%;
}
.author-info .author-details {
  margin-left: 1.6rem;
}
.author-info .author-name {
  font-size: 1.6rem;
  line-height: 1;
}
.display-tag a {
  color: #00c4cc;
}
.pagination-single {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.pagination-single .pagination-nav {
  font-size: 1.92rem;
}
.pagination-single .pagination-nav .previous-post-wrap {
  width: 50%;
  display: inline-block;
}
.pagination-single .pagination-nav .previous-post-wrap .previous-post {
  font-size: 1.4545454545454546rem;
  font-weight: 500;
}
.pagination-single .pagination-nav .next-post-wrap {
  width: 50%;
  text-align: right;
  float: right;
}
.pagination-single .pagination-nav .next-post-wrap .next-post {
  font-size: 1.4545454545454546rem;
  font-weight: 500;
}
.next-post-wrap,
.previous-post-wrap {
  position: relative;
}
.next-post-wrap:before,
.previous-post-wrap:before {
  color: #00c4cc;
  font-size: 4rem;
  font-weight: 300;
  font-family: IcoFont;
  line-height: .65;
  position: absolute;
  top: -2rem;
  width: 32px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.next-post-wrap:hover:before,
.previous-post-wrap:hover:before {
  opacity: 1;
  visibility: visible;
  right: 0;
}
.next-post-wrap:before {
  content: '\ea94';
  right: 2rem;
}
.previous-post-wrap:before {
  content: '\ea93';
  left: 2rem;
}
.previous-post-wrap:hover:before {
  opacity: 1;
  visibility: visible;
  left: -0.7rem;
}
.shadow {
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.no-results {
  padding: 4.800000000000001rem 0;
}
.prr-social li {
  display: inline;
  list-style-type: none;
}
/* Menu uses Font Awesome icons */
.prr-social li a[href*="facebook.com"]::before {
  content: '\ed37';
}
.prr-social li a[href*="twitter.com"]::before {
  content: '\ed7a';
}
.prr-social li a[href*="github.com"]::before {
  content: '\ed3e';
}
.prr-social li a[href*="linkedin.com"]::before {
  content: '\ed4d';
}
.prr-social li a[href*="wordpress.com"]::before,
.prr-social li a[href*="wordpress.org"]::before {
  content: '\e95b';
}
.prr-social li a[href*="tumblr.com"]::before {
  content: '\ed78';
}
.prr-social li a[href*="dribbble.com"]::before {
  content: '\ed2e';
}
.prr-social li a[href*="instagram.com"]::before {
  content: '\ed46';
}
.prr-social li a[href*="vimeo.com"]::before {
  content: '\ed7f';
}
.prr-social li a[href*="youtube.com"]::before {
  content: '\ecbb';
}
.prr-social li a[href*="pinterest.com"]::before {
  content: '\ed5d';
}
.prr-social li a[href*="flikr.com"]::before {
  content: '\ed39';
}
.prr-social li a[href*="digg.com"]::before {
  content: '\ed2c';
}
.prr-social li a[href*="reddit.com"]::before {
  content: '\ed62';
}
.prr-social li a[href*="behance.com"]::before {
  content: '\ed22';
}
.prr-social li a[href*="slideshare.net"]::before {
  content: '\e934';
}
.prr-social li a[href*="/feed"]::before {
  content: '\efdb';
}
.prr-social li a[href*="subscribe"]::before {
  content: '\ef12';
}
.prr-social li {
  list-style-type: none;
  display: inline-block;
}
.prr-social li a span::before {
  width: 20px;
  height: 20px;
  color: #999;
  border-radius: 20px;
}
.prr-social li a::before {
  display: inline-block;
  padding: 0;
  vertical-align: top;
  font-family: 'IcoFont';
  font-size: 2.2399999999999998rem;
  color: #1e1e1e;
  -webkit-font-smoothing: antialiased;
}
/**
 * Infinite Scroll Post
 */
.prr-infinite-scroll {
  margin: 4.800000000000001rem 0;
}
/**  Dark Mode Settings **/
.ct-dark-mode {
  background-color: #0b0b0c !important;
}
.ct-dark-mode .site-header {
  background-color: #18191b !important;
}
.ct-dark-mode *,
.ct-dark-mode .icon,
.ct-dark-mode .prr-social a:before,
.ct-dark-mode span,
.ct-dark-mode figcaption,
.ct-dark-mode a,
.ct-dark-mode p,
.ct-dark-mode h1,
.ct-dark-mode h2 h3,
.ct-dark-mode h4,
.ct-dark-mode h5,
.ct-dark-mode h6 {
  color: #eaedf1 !important;
}
.ct-dark-mode .featured-section .featured-title {
  background-color: #18191b;
}
.ct-dark-mode .custom-logo-dark {
  display: block;
}
.ct-dark-mode .custom-logo-link {
  display: none;
}
.ct-dark-mode textarea,
.ct-dark-mode input[type="text"],
.ct-dark-mode input[type="email"],
.ct-dark-mode input[type="submit"] {
  color: #18191b !important;
}
/**
 * --------------------------------------------------------------------------------
 * Pagination
 * --------------------------------------------------------------------------------
*/
.pagination {
  padding: 2.4000000000000004rem 0;
}
.pagination .nav-links {
  text-align: center;
}
.pagination .page-numbers {
  padding: .6rem;
}
.pagination .page-numbers.next::after {
  content: '\f178';
  right: 0;
}
.pagination .page-numbers.prev::before {
  content: '\f177';
  left: 0;
}
.pagination .prev,
.pagination .next {
  position: relative;
}
.pagination .prev {
  padding-left: 3.3rem;
}
.pagination .prev:hover::before {
  left: -1rem;
}
.pagination .next {
  padding-right: 3.3rem;
}
.pagination .next:hover::after {
  right: -1rem;
}
.pagination .page-numbers.prev::before,
.pagination .page-numbers.next::after {
  font-size: 2rem;
  font-weight: 300;
  font-family: Fontawesome;
  line-height: 1.14;
  position: absolute;
  top: .8rem;
  width: 32px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.pagination .screen-reader-text {
  display: none;
}
.footer-site-info {
  text-align: center;
  font-size: 1.4rem;
  border-top: 1px solid #00c4cc;
  padding: 1rem 0;
}
@media screen and (max-width: 782px) {
  .next.slick-arrow {
    right: 30px;
  }
  .prev.slick-arrow {
    right: -4px;
  }
}
.main-nav > .notification > a:after {
  content: "\ec77";
  font-family: IcoFont;
  font-size: 1rem;
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  color: #43c6ac;
}
/*WordPress Unit test css*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  max-width: 96%;
  /* Image does not overflow the content area */

  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */

}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */

}
.gallery-caption .bypostauthor iframe {
  max-width: 100%;
}
.uiScaledImageContainer .scaledImageFitWidth {
  height: auto;
  min-height: initial;
  width: 100%;
}
img {
  max-width: 100%;
}
.gallery-columns-3 .gallery-item {
  max-width: calc(22.666666666666668%);
}
.gallery-columns-3 .gallery-item:nth-child(3n+3) {
  margin-right: 0px;
}
.gallery-item {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  text-align: center;
  vertical-align: top;
}
.gallery-item img {
  height: auto;
}
.gallery-columns-4 .gallery-item {
  max-width: calc(13%);
}
.gallery-columns-4 .gallery-item:nth-child(4n+4) {
  margin-right: 0px;
}
form label {
  padding-bottom: 11px;
  display: block;
  width: 100%;
}
pre {
  white-space: pre;
  overflow-x: auto;
}
label {
  padding-bottom: 11px;
  display: inline-block;
}
.wp-block-archives-dropdown {
  margin-bottom: 11px;
}
.ct-content-area img {
  max-width: 100%;
}
.link-pages {
  text-align: center;
  margin-bottom: 70px;
}
.link-pages .page-numbers {
  height: 100%;
  width: 80px;
  font-size: 12px;
  padding: 6px 9px;
  margin: 10px;
  background-color: #1e1e1e;
  border-radius: unset;
  text-align: center;
  border: none;
}
.link-pages .page-numbers:hover {
  background-color: #00c4cc;
  letter-spacing: 0px;
  border-radius: unset;
}
.link-pages .current .page-numbers {
  background-color: #00c4cc;
}
/* Skip link */
.skip-link {
  position: absolute;
  top: -50px !important;
  left: 10px;
  background-color: #ffffff;
  color: #00c4cc;
  border: 2px solid #00c4cc;
  border-radius: 3px;
  padding: 6px 10px;
  z-index: 9999999999;
}
.skip-link:focus {
  top: 0 !important;
}
.widgetarea {
  margin-bottom: 3.2rem;
}
.widgetarea:nth-of-type(1) {
  margin-top: 3.84rem;
}
.prr-footer .widgetarea:nth-of-type(1) {
  margin-top: 0;
}
.prr-footer .widgetarea {
  margin-bottom: 0;
}
#respond {
  margin-bottom: 7.200000000000001rem;
}
@media print {
  .widgetarea,
  .main-nav,
  .mobile-navigation,
  .menubar-right,
  .top-bar,
  .layout-center .nav-button,
  #respond {
    display: none;
  }
  .ct-content-area {
    width: 100%;
  }
}
.thumbnail-image img {
  width: 100%;
  height: auto;
}
.admin-bar .site-header {
  top: 3.2rem;
}
@media screen and (max-width: 782px) {
  .admin-bar .site-header {
    top: 4.6rem;
  }
}
/* For devices smaller than 991.98px */
@media (max-width: 991.98px) {
  .site-header .site-branding {
    float: none;
  }
}
.post-content a.mejs-horizontal-volume-slider {
  background-image: none;
}
iframe,
object {
  max-width: 100%;
}
* {
  word-break: break-word;
  word-wrap: break-word;
}
.link-pages a {
  background-image: none;
}
.link-pages .page-numbers {
  color: #ffffff;
}
.post-content ul,
ol {
  margin: 0 0 3rem 3rem;
}
.wp-block-gallery ul {
  margin: 0;
}
.post-content a.post-page-numbers {
  background-image: unset;
}
#comments ol ol {
  list-style-type: decimal;
}
#comments ol.children {
  list-style-type: none;
}
#comments ul ul {
  margin: 0 0 3rem 3rem;
}
.post_format-post-format-image .post-content a {
  background-image: none;
}
.post-content a,
.comment-content a,
.widgetarea a {
  background-image: none !important;
  text-decoration: underline;
}
.prr-excerpt a {
  text-decoration: underline;
}
/**
 * --------------------------------------------------------------------------------
 * Comments Template
 * --------------------------------------------------------------------------------
*/
.logged-in .comment-message-section {
  width: 100%;
}
.comment-message-section,
.comment-author-section {
  width: 49%;
  float: left;
}
.comment-author-section {
  padding-left: 2%;
}
.comment-author-section > div {
  margin-bottom: .3rem;
}
.comment-form-cookies-consent {
  display: inline-block;
}
#wp-comment-cookies-consent {
  margin-right: 1rem;
}
label {
  display: block;
  color: #1e1e1e;
  font-weight: 700;
}
input,
input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  background-color: #ffffff;
  border: 1px solid #e3e5e6;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: border-bottom-color 0.2s ease;
  outline: none;
}
input:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
textarea:hover {
  border-bottom-color: #00c4cc;
}
input,
input[type="text"],
input[type="email"],
input[type="url"] {
  height: 4rem;
}
.submit > button {
  margin-top: 1rem;
  text-transform: uppercase;
  padding: 0 2rem;
  height: 4.5rem;
}
.form-submit #submit {
  background-color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 1.5rem;
  width: 100%;
  height: 4rem;
  text-align: center;
  position: relative;
  border: 1px solid #e3e5e6;
  border-bottom-color: #00c4cc;
  box-sizing: border-box;
  transition: border-bottom-color 0.2s ease;
  cursor: pointer;
}
.form-submit #submit:hover {
  border-bottom-color: #e3e5e6;
}
.author-image {
  float: left;
  padding-right: .6rem;
}
.author-image img {
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
}
.ct-has-description img {
  width: 10rem;
}
.comment-wrapper {
  display: table;
  padding-left: 1.6rem;
  border-left: 1px dotted #1f1f1f;
  margin-bottom: 3.6rem;
}
.comment-wrapper p {
  margin-bottom: 0;
}
#comments {
  margin-top: 2.4000000000000004rem;
}
#comments ol {
  list-style-type: none;
}
#comments > .sub-block > ol {
  margin-left: 0;
}
.comment-form-cookies-consent {
  display: inline-block;
}
#wp-comment-cookies-consent {
  margin-right: 1rem;
  margin-bottom: 0;
}
.comment-form-cookies-consent label {
  display: inline-block;
  margin-bottom: 0;
}
.comment-author .fn a {
  font-weight: 500;
}
.comment-author img {
  float: left;
  border-radius: 50%;
  margin-right: 2rem;
}
.comment-author .says {
  display: none;
}
.comment-meta {
  margin-bottom: 1rem;
}
.comment-meta a {
  font-weight: 400;
}
.reply {
  display: block;
  text-align: right;
}
.reply a {
  background-image: linear-gradient(180deg, transparent 70%, #80faff 0);
}
.comment article {
  margin-bottom: 2.4000000000000004rem;
  padding: 2.4000000000000004rem;
  background-color: #ffffff;
  box-shadow: 0 14px 28px -4px rgba(14, 17, 20, 0.1);
}
.trackback,
.pingback {
  margin-bottom: 2.4000000000000004rem;
}
.comment p {
  margin-bottom: 1rem;
}
.comment .children {
  margin-left: 6rem;
}
.comment-time {
  font-size: 1.4rem;
  font-weight: 400;
}
.comments-pagination {
  margin-bottom: 2.4rem;
}
.comments-pagination .nav-links {
  margin-right: 1rem;
}
.comments-pagination .nav-links > .next {
  margin-right: 0;
}
.comments-pagination .nav-links > .next,
.comments-pagination .nav-links > .prev {
  position: relative;
  top: .2rem;
}
.author-link {
  margin-top: 1rem;
}
.bypostauthor {
  border-top: unset !important;
  /* Override if posted by admin */

}
.bypostauthor article {
  border: 2px solid #00c4cc;
}
.comment-body {
  position: relative;
}
.comment-body .reply {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.6rem;
}
/**
 * Comment Form Defaults styling
 */
.form-submit {
  margin-top: 1rem;
}
.logged-in .comment-form-comment {
  width: 100%;
  float: unset;
}
.comment-form-cookies-consent {
  display: inline-block;
}
#wp-comment-cookies-consent {
  margin-right: 1rem;
  margin-bottom: 0;
}
input[type="checkbox"] {
  height: 1.6rem;
  width: 16px;
}
