.slick-arrow{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    z-index: 1;
    font-size: 0;
    cursor: pointer;
    outline: 0;
    &.slick-disabled{
        z-index: -1;
    }
    &:before{
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        border-color: $color_black;
        @include transition();
    }
    &:hover{
        &::before{
            border-color: $color_primary;
        }
    }

}
.slick-prev{
    left: 0;
    padding-left: 15px;
    &:before{
       border-left: 2px solid;
       border-bottom: 2px solid;
    }
}
.slick-next{
    right: 0;
    padding-left: 8px;
    &:before{
        border-top: 2px solid;
        border-right: 2px solid;
    }
}
.slick-dots{
    margin: 0;
    list-style: none;
    text-align: center;
    li{
        display: inline-block;
        height: 14px;
        width: 14px;
        @include border(2px,solid);
        @extend %primary-border;
        overflow: hidden;
        margin-right: 5px;
        background-color: $color_white;
        border-radius: 100%;
        button{
           display: none;
        }
        &.slick-active{
            width: 16px;
            height: 16px;
        }
    }
}
