
.#{$prefix}-post-list,
.twp-post-with-bg{
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgba(123,123,123,0.17);
}
.#{$prefix}-recent-post-list{
    @extend %reset-ul;
    @include border();
    border-color: $color_light_gray;
    padding: 0 15px;
    .#{$prefix}-recent-feature-image-section{
        position: relative;
    }
    .#{$prefix}-feature-post{
        padding-top: 15px;
    }
}